.qbs-table-custom-pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  // border: 1px solid;
  min-height: 40px;
  align-items: center;
  &-header {
    border-bottom: 1px solid #eee;
    position: absolute;
    width: 100%;
    &-content {
      display: table-cell;
      padding: 8px;
    }
  }
  .qbs-table-pagination-dropdown {
    width: auto;
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .qbs-table-icon-container {
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    color: black;
    height: 100%;

    background-color: transparent;
    &:hover {
      color: blue;
    }
    &:disabled {
      color: grey;
    }
  }
  .qbs-table-pagination-right-block {
    display: flex;
    align-items: center;
    .block-container {
      display: flex;
      .block-item {
        margin: 0px 2px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        height: 30px;
        width: 30px;
        padding: 5px;
        border-radius: 6px;
        &:hover {
          border-color: blue;
          color: blue;
        }
        &:active {
          border-color: blue;
          color: blue;
        }
      }
      .selected {
        border-color: blue;
        border: 2px solid;
        color: blue;
      }
    }
  }
}
