.qbs-table-custom-pagination {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  min-height: 40px;
  align-items: center;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #d6d8dc;
  background: #fff;
  &-header {
    border-bottom: 1px solid #eee;
    position: absolute;
    width: 100%;
    &-content {
      display: table-cell;
      padding: 8px;
    }
  }
  .qbs-table-pagination-dropdown {
    width: 65px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid #d6d8dc;
    background: #fff;
  }
  .qbs-table-icon-container {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    color: black;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #999696;
    &:hover {
      color: blue;
    }
    &:disabled {
      color: grey;
      cursor: not-allowed;
    }
    svg {
      width: 16px;
      height: 16px;
      margin: 0 auto;
    }
  }
  .qbs-table-pagination-right-block {
    display: flex;
    align-items: center;
    gap: 12px;
    .block-container {
      display: flex;
      align-items: center;
      gap: 12px;
      .block-item {
        margin: 0;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        padding: 0;
        border-radius: 6px;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        border: 1px solid transparent;
        transition: all 0.2s ease;
        &:hover {
          border-color: #e76458;
          color: #e76458;
          transition: all 0.2s ease;
        }
        &:active {
          border-color: #e76458;
          color: #e76458;
          transition: all 0.2s ease;
        }
      }
      .selected {
        color: #e76458;
        border: 1px solid #e76458;
        transition: all 0.2s ease;
      }
    }
  }
}

.qbs-table-pagination-flexBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  .qbs-table-pagination-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #313131;
  }
}

.qbs-table-custom-pagination .qbs-table-pagination-dropdown:focus {
  outline: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  padding: 2px 8px;
  cursor: pointer;
  border: 1px solid #d6d8dc;
  border-radius: 4px;
  min-width: 65px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}

.custom-select-options {
  position: absolute;
  width: 100%;
  z-index: 1000;
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 #00000026;
}

ul.custom-select-options.top {
  bottom: 100%;
}

.custom-select-option {
  padding: 6px 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.custom-select-option:hover,
.custom-select-option.selected {
  background-color: #f0f0f0;
}

.custom-select-trigger:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 6px;
  font-weight: bold;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}