.qbs-table {
  .qbs-table-toolbar-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .qbs-table-border-wrap {
    border-radius: 0 0 4px 4px;
    border: 1px solid #d6d8dc;
    background: #fff;
  }
  .qbs-table-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .end-container {
      display: flex;
      gap: 10px;

      align-items: center;
      .rows-count {
        padding: 0px 10px;
      }
    }
    .start-container {
      display: flex;
      gap: 10px;
    }
    .qbs-table-primary-filter {
      display: flex;
    }
  }
  .sub-qbs-table-toolbar {
    display: flex;
    gap: 10px;
  }
  .qbs-table-search-container {
    position: relative;
    align-items: center;
    .input {
      height: 36px;
      border-radius: 4px;
      min-width: 280px;
      padding: 0 8px;
      padding-left: 36px !important;
      line-height: 36px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      border-radius: 6px;
      border: 1px solid #d6d8dc;
      background: #fff;
      transition: all 0.2s ease;

      &:hover {
        outline: none;
        border: 1px solid #d6d8dc;
        background: #fff;
      }
      &:focus {
        outline: none;
        border: 1px solid #222;
        background: #fff;
        transition: all 0.2s ease;
      }
    }
    .search-button {
      position: absolute;
      left: 1px;
      top: 7px;
      display: flex;
      color: #222;
      background-color: transparent;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
    .close-button {
      position: absolute;
      display: flex;
      right: 31px;
      bottom: 5px;
      color: grey;
      background-color: white;
      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  .popup-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .show {
    display: block !important;
  }
}
.qbs-table[data-theme='dark'] {
  background-color: #333333;
  color: #ffffff;
}
.rs-table-cell-content[data-theme='dark'] {
  background-color: #333333;
  color: #ffffff;
}
/* Dropdown container */
.qbs-table-menu-dropdown {
  position: relative;
  display: flex;
  width: 100%;
  height: 36px;
  align-items: center;
  justify-content: center;
}

/* Button to trigger the qbs-table-menu-dropdown */
.qbs-table-dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.qbs-table-qbs-table-menu-dropdown-content {
  position: absolute;
  min-width: 75px;
  z-index: 999;
  right: 4px;
  margin-bottom: 0;
  margin-top: 0;
  top: 3px;
  display: flex;
  box-sizing: border-box;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #d6d8dc;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(58, 58, 58, 0.15);
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 4px;
}

/* Dropdown content items */
.qbs-table-qbs-table-menu-dropdown-content a {
  padding: 0 !important;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #212121;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 18px;
}
.qbs-table-qbs-table-menu-dropdown-content a svg {
  width: 18px;
  height: 18px;
}
.qbs-table-qbs-table-menu-dropdown-content button.qbs-table-dropbtn {
  margin-right: 8px;
  margin-top: 2px;
}
.qbs-table-qbs-table-menu-dropdown-content a:hover {
  color: #e76458;
  background: #f4f4f4;
  transition: all 0.2s ease;
}
/* Tooltip container */
.qbs-table-tooltip {
  position: relative;
  display: contents;
  cursor: pointer;
}

.qbs-table-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.qbs-table-tooltip.up .tooltiptext {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.qbs-table-tooltip.down .tooltiptext {
  top: 125%;
  left: 50%;
  margin-left: -60px;
}

.qbs-table-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.qbs-table-tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.qbs-table-tooltip.up .tooltiptext::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #555 transparent transparent transparent;
}

.qbs-table-tooltip.down .tooltiptext::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #555 transparent;
}

.rs-table-row {
  overflow: visible !important;
}
.qbs-table-toolbar-sub-container {
  display: flex;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #d6d8dc;
  background: #fff;
  border-bottom: unset;

  .rows-count {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #222;
  }
}
.qbs-table-toolbar-sub-container.selected-row {
  background: rgba(231, 100, 88, 0.08);
}
.qbs-table-toolbar-sub-container-start {
  display: flex;
  gap: 10px;
  align-items: center;
}
.qbs-table-column-popup {
  position: fixed;
  padding: 8px;
  z-index: 999;
  right: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  min-width: 272px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  // overflow-y: auto;
}
.qbs-table-popup-container {
  max-width: 400px;
  overflow-y: auto;
}

.qbs-table-container {
  padding: 8px 4px;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.qbs-table-columns-container {
  display: flex;
  flex-direction: row-reverse;
}

.qbs-table-columns-label {
  display: flex;
  gap: 10px;
}

.qbs-table-columns-drag-icon {
  cursor: grab;
  margin-right: 0;
}

.qbs-table-column {
  flex: 1;
}

.rs-table-cell-header .rs-table-cell-content {
  padding: 8px;
  border-radius: 0px;
  border-right: 0px;
  background: #f4f4f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #222;
}

.qbs-table .qbs-table-border-wrap .rs-table .rs-table-cell:hover ~ .rs-table-column-resize-spanner,
.qbs-table .qbs-table-border-wrap .rs-table .rs-table-cell ~ .rs-table-column-resize-spanner:hover {
  background-color: #e76458;

  &:before {
    border-color: transparent #e76458 transparent transparent;
  }
  &:after {
    border-color: transparent transparent transparent #e76458;
  }
}

.qbs-table-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .qbs-table-checkbox-input {
    opacity: 0;
  }

  .qbs-table-checkbox-input ~ label {
    position: absolute;
    border-radius: 3px;
    border: 1px solid #999696;
    width: 20px;
    height: 20px;
    top: 7px;
    transition: all 0.2s ease;
    cursor: pointer;

    svg {
      opacity: 0;
      transition: all 0.2s ease;
      position: absolute;
      left: 5px;
      top: 5px;
      width: 9px;
      height: 9px;
    }
  }

  .qbs-table-checkbox-input:checked ~ label {
    transition: all 0.2s ease;
    border-radius: 3px;
    background: #e76458;
    border-color: #e76458;

    svg {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
}

.qbs-checkbox-border-none {
  .rs-table-cell-content {
    border-right: unset;
  }
}

.qbs-table-popup-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.qbs-table-popup-item .qbs-table-popup-label {
  padding: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #585858;
}

.qbs-table-popup-item .qbs-table-popup-value {
  padding: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #222;
}

.qbs-table-divider {
  width: 100%;
  background: #d6d8dc;
  display: flex;
  min-height: 1px;
}

.qbs-table-checkbox.qbs-table-custom-checkbox .qbs-table-checkbox-input ~ label {
  top: -2px;
}

.qbs-table-container .qbs-table-popup-value {
  padding: 0;
  flex: 1;
  margin-left: 8px;
  transition: all 0.2s ease;
}
.qbs-table-container:hover .qbs-table-popup-value,
.qbs-table-container:hover .qbs-table-popup-label {
  transition: all 0.2s ease;
  color: #e76458;
}

.qbs-table-container .qbs-table-popup-label {
  padding: 0;
  flex: 1;
  margin-left: 8px;
  transition: all 0.2s ease;
}

.qbs-table-reset-link {
  padding: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #c63a3a;
}

.qbs-table-reset-link:hover {
  color: #c63a3a;
  text-decoration: none;
}
.selected-row-action {
  display: flex;
  gap: 10px;
  .btn {
    background-color: transparent;
    font-weight: 600;
    padding: 4px;
  }
}
.qbs-table-row-link {
  text-decoration: none;
  cursor: pointer;
}
.qbs-table-row-link:hover {
  text-decoration: none;
}
// .qbs-custom-table-cell {
//   height: 36px;
//   border-bottom: 1px solid #eee;
//   display: block;
//   overflow: hidden;
//   white-space: normal;
//   background: #fff;
//   transition: none;
//   box-sizing: border-box;
// }
// .qbs-table-cell-content {
//   padding: 8px;
//   box-sizing: border-box;
//   background-color: #ffffff;
//   color: #222;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 20px;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }
